{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
  {% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} объявления
{% endblock %}

{% block content %}
  <div class="card col-md-8 mx-auto">
    <div class="card-header">
      <h2>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} объявления</h2>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
          {% if form.instance.pk %}Сохранить{% else %}Создать{% endif %}
        </button>
        <a href="{% url 'ads_list' %}" class="btn btn-secondary">Отмена</a>
      </form>
    </div>
  </div>
{% endblock %}
